body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    font-size: 1.5vw;
}

#logo {
    margin: 0px;
    padding: 10px;
    font-family: 'Playball','Brush Script MT', sans-serif;
    font-size: 5vw;
}

/* This sytling is applied to the header directly under the body  */
body > header {
    background-color: rgba(255, 0, 140, 0.286);
    color: white;
    display: flex;
    height: 20vh;
    align-items: center;
    justify-content: space-around;
}

#navbar-ul {
    margin-right: 30px;
}

#navbar-ul > li >a {
    text-decoration: none;
    color: black;
}

#nav-ul {
    list-style: none;
    text-decoration: none;
    font-weight: bolder;
}

#nav-ul > li {
    padding: 10px;
    font-size: 1.5svw;
}


.navbutton-header{
    color: white;
    text-decoration: none;
    padding: 5px;
    border: 1px solid white;
    border-radius: 10%;
}
.navbutton{
    text-decoration: none;
    padding: 19px;
}

body > main article {
    width: 80%;
    margin: auto;
}

#main-content {
    display: flex;
    justify-content: space-around ;
}

#Page-title {
    font-size: 3vw;
}

#article-header {
    text-align: center;
}


#nav-bar {
    background-color: rgba(128, 128, 128, 0.27);
}

form {
    text-align: center;
}

h2 {
    text-align: center;
}


body > footer {
    color: white;
    background-color: rgba(255, 0, 166, 0.244);
    display: flex;
    justify-content: space-evenly;
}

#article-footer{
    text-align: center;
}

#footer-ul{
    display: flex;
    list-style: none;
    font-weight: bolder;
} 

#footer-ul > div > li {
    margin-left: 12px;
}

#footer-ul > div > li > a {
    text-decoration: none;
    color: white;
    margin-right: 30px;
}


img {
    margin: auto;
}